@font-face {
    font-family: "poppins-regular";
    src: url(fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "poppins-black";
    src: url(fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "poppins-italic";
    src: url(fonts/Poppins-Italic.ttf) format("truetype");
}